<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Heart Attack</string>
		<key>artist</key>
		<string>Raphael Saadiq</string>
		<key>fileName</key>
		<string>01 Heart Attack.mp3</string>
		<key>location</key>
		<dict>
			<key>placeName</key>
			<string>Bastille</string>
			<key>latitude</key>
			<string>48.85319502679562</string>
			<key>longitude</key>
			<string>2.3690342903137207</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>California Girls</string>
		<key>artist</key>
		<string>The Beach Boys</string>
		<key>fileName</key>
		<string>02 California Girls.mp3</string>
		<key>location</key>
		<dict>
			<key>placeName</key>
			<string>Palais royal</string>
			<key>latitude</key>
			<string>48.863200830312294</string>
			<key>longitude</key>
			<string>2.3369765281677246</string>
		</dict>
	</dict>
</array>
</plist>
