<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>title</key>
		<string>GAITÉ</string>
		<key>artist</key>
		<dict>
			<key>name</key>
			<string>JEAN-PIERRE</string>
			<key>twitter</key>
			<string>example</string>
			<key>facebook</key>
			<string>example</string>
			<key>website</key>
			<string>http://www.example.com</string>
			<key>about</key>
			<string>Jean Pierre est né un 23 janvier 1984, et est aussitôt tombé dans la musique. Paris est pour lui une source d’inspiration illimitée, c’est pourquoi il a accepté de remixer la gaîté sans hésiter...</string>
		</dict>
		<key>about</key>
		<string>Paris, 14ème arrondissement</string>
		<key>date</key>
		<string>01/02/2013</string>
		<key>duration</key>
		<string>2 min 30</string>
		<key>fileName</key>
		<string>valentin_garage.mp3</string>
		<key>location</key>
		<dict>
			<key>placeName</key>
			<string>Gaité</string>
			<key>latitude</key>
			<string>48.866877945740384</string>
			<key>longitude</key>
			<string>2.353592813014984</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>title</key>
		<string>GARAGE</string>
		<key>artist</key>
		<dict>
			<key>name</key>
			<string>VALENTIN</string>
			<key>twitter</key>
			<string>example</string>
			<key>facebook</key>
			<string>example</string>
			<key>website</key>
			<string>http://www.example.com</string>
		</dict>
		<key>date</key>
		<string>23/01/2013</string>
		<key>duration</key>
		<string></string>
		<key>about</key>
		<string></string>
		<key>fileName</key>
		<string>valentin_garage.mp3</string>
		<key>location</key>
		<dict>
			<key>placeName</key>
			<string>Bastille</string>
			<key>latitude</key>
			<string>48.85319502679562</string>
			<key>longitude</key>
			<string>2.3690342903137207</string>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>title</key>
		<string>METRO</string>
		<key>artist</key>
		<dict>
			<key>name</key>
			<string>LAURA</string>
			<key>twitter</key>
			<string>example</string>
			<key>facebook</key>
			<string>example</string>
			<key>website</key>
			<string>http://www.example.com</string>
		</dict>
		<key>date</key>
		<string>22/12/2012</string>
		<key>duration</key>
		<string></string>
		<key>about</key>
		<string></string>
		<key>fileName</key>
		<string>laura_metro.mp3</string>
		<key>location</key>
		<dict>
			<key>placeName</key>
			<string>Palais royal</string>
			<key>latitude</key>
			<string>48.85176193318182</string>
			<key>longitude</key>
			<string>2.4204951524734497</string>
		</dict>
	</dict>
</array>
</plist>
